<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>D3Times</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/d3Style.css')}}">

</head>

<body>
  <div class="header">
    <div class="row">
      <div class="col-xs-12 col-md-12 ">
        <h1 style="text-align: center;">ALE
          <i class="fas fa-beer fa-2x"></i> gorithm
        </h1>
      </div>
    </div>
  </div>

    <div class="container">
    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div id="scatter">
          <!-- We append our chart here. -->
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-xs-12  col-md-12">
        <div class="article">
          <p><b><center> What is Ale-gorithm ?<br>
          Have you ever wandered down the beer aisle feeling overwhelmed by options? Do you have a thirst for deliciously brewed craft beer, but don’t know which to choose?
Then you’ve come to the right place!
The goal of the ALE-gorithm web application & dashboard is to educate consumers on the craft beer space including styles, flavor profiles. </center></b></p>
          <br>
          <hr>
          <h2>beers beer beer</h2>
          <br>
          <p><b>ABV:</b>Alcohol By Volume</p>

          <p><b>IBU:</b> International Bitterness Units </p>

          <p><b>SRM:</b> Standard Reference Method </p>
          <br>
        
        </div>
      </div>
    </div>
  </div>

  <!-- Footer-->
  <div id="footer">
    <p>alegorithm group  &copy; 2020 | UT Data Analysis and Visualization</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="{{url_for('static',filename='js/app.js')}}"></script>

</body>

</html>
