.aText {
  font-family: sans-serif;
  font-size: 18px;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: rgb(255, 116, 2);
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #ca0d0d;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: rgb(245, 3, 3);
  cursor: pointer;
}

/* font size dependent on radius, see app.js */
.stateText {
  font-family: sans-serif;
  fill: #fff;
  text-anchor: middle;
  font-weight: bold;
  font-size: 11px;
}

.stateCircle {
  fill: #e68f0d;
  stroke: #e3e3e3;
}

.chart {
  display: block;
  margin: 0;
}

.d3-tip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: rgb(92, 22, 22);
  text-align: center;
  text-transform: capitalize;
  background: rgb(233, 118, 118);
  border-radius: 4px;
}

.axis-text-main{
  font-family: sans-serif;
  text-anchor: middle;
  font-size: 0.75em;
}

.axis-text-main{
  font-family: 'Playfair Display',sans-serif;
  text-anchor: middle;
  font-size: 0.75em;
}


/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
