
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ale-gorithm Project</title>
  
  <!-- Favicons -->
  <link href="../static/img/favicon1.png" rel="icon">
  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css">
  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="../static/css/main.css"/>
  <!-- Font-awesome  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- No Script CSS  -->
  <noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
  
  <!-- Jinja2 format to refer to css file
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  -->
</head>


<body class="is-preload">

    <!-- Nav-Bar Header - Copy paste for every page-->
    <header id="header">
        <h1><a href="index.html"><img src="../static/img/logo.png" style="width: 15%;"></h1>
        <nav>
            <ul>
                <li><a href="recommender.html"><i class="fa fa-beer" aria-hidden="true"></i> Beer Recommender &nbsp;</a></li>
                <li><a href="dashboard.html"><i class="fa fa-th"></i> Beer Dashboard &nbsp;</a></li>
                <li><a href="breweries.html"><i class="fa fa-search" aria-hidden="true"></i> Find Breweries &nbsp;</a></li>
                <li><a href="index.html#team"><i class="fa fa-user"></i> About Us &nbsp;</a></li>
            </ul>
        </nav>
    </header>

    <iframe src="https://www.google.com/maps/d/embed?mid=1aPbDQijZeA50o8xqbYlZpBA0WlfqBm9A" width="100%" height="100%"></iframe>


<!-- Footer -->
<footer id="footer">

    <!-- GitHub -->
    <ul class="icons">
        
        <li><a href="#" class="fa fa-lg fa-github"></a></li><li>Git-Hub Repository</li>
    </ul>

    <ul class="menu">
        <li>&copy; Ale-gorithm 2020</li><li>Group 3</li><li>UT Data Analysis and Visualization Bootcamp</a></li>
    </ul>

</footer>

<!-- Scripts -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Custom scripts for this template -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Local Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery.poptrox.min.js"></script>
<script src="../static/js/jquery.scrolly.min.js"></script>
<script src="../static/js/jquery.scrollex.min.js"></script>
<script src="../static/js/browser.min.js"></script>
<script src="../static/js/breakpoints.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>


