<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ale-gorithm Project</title>

    <!-- Favicons -->
    <link href="../static/img/favicon1.png" rel="icon">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css">
    <!-- Main Stylesheet File -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <!-- Font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- No Script CSS  -->
    <noscript>
    <link rel="stylesheet" href="../static/css/noscript.css" />
    </noscript>

    <!-- Jinja2 format to refer to css file
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    -->
</head>

<body class="is-preload">

    <!-- Nav-Bar Header - Copy paste for every page-->
    <header id="header">
        <h1><a href="#intro"><img src="../static/img/logo.png" style="width: 15%; position: fixed;"></h1>
        <nav class="navbar navbar-expand-lg navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
               
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                
            </button>
           
            <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="recommender.html"><i class="fa fa-beer" aria-hidden="true"></i> Beer Recommender &nbsp;</a></li>
                <li><a href="dashboard.html"><i class="fa fa-th"></i> Beer Dashboard &nbsp;</a></li>
                <li><a href="breweries.html"><i class="fa fa-search" aria-hidden="true"></i> Find Breweries &nbsp;</a></li>
                <li><a href="#team"><i class="fa fa-user"></i> About Us &nbsp;</a></li>
            </ul>
            </div>
        </nav>
    </header>

    <!-- Hero Intro - Only stays for the main landing page -->
    <section id="intro" class="main style1 dark fullscreen">
        <div class="content">
            <header>
                <p>Welcome to <strong>Ale-gorithm</strong>, a place for all things Beer!
                    <br> Helping you find the best brew!</p>
            </header>
            <footer>
                <a href="#what" class="button style2 down">More</a>
            </footer>
        </div>
    </section>

    <!-- === What is Alegorithm === -->
    <section id="what" class="main style3 primary">
        <div class="content">
            <header>
                <h2>What is Ale-gorithm</h2>
                <p>Have you ever wandered down the beer aisle feeling overwhelmed by options? Do you have a thirst for deliciously brewed craft beer, but don’t know which to choose?
                    <br> Then you’ve come to the right place!
                    <br>The goal of the ALE-gorithm web application & dashboard is to educate consumers on the craft beer space including styles, flavor profiles.
                    <br>
                    <!-- Progress Bar -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
                    <br> Drink Good Beer</p>
            </header>
        </div>
        <a href="#recommender" class="button style2 down anchored">Next</a>
    </section>

    <!-- Recommender -->
    <section id="recommender" class="main style2 right dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Beer Recommender</h2>
            </header>
            <p>Are you a beer connoisseur? Or even new to the #beerlife experience? No matter what your level of expertise is,
                if you love to partake in a nice "cold one", then check out the recommender page.
                <br>We have scanned over a million beers and will match you to the top beers that best suit your palette.</p>
            <a href="recommender.html">
                <button type="button center" class="btn btn-primary"> Click here! </button>
            </a>
        </div>
        <a href="#dashboard" class="button style2 down anchored"></a>
    </section>

    <!-- Dashboard -->
    <section id="dashboard" class="main style2 left dark fullscreen">
        <div class="content box style2">
            <header>
                <h2>Dashboard</h2>
            </header>
            <p>Want to learn more about your favorite beers? 
                <br>Our interactive dashboard offers information about beers and breweries to both novice and seasoned beer lovers a like.
                <br>Click here to get a deeper understanding of beers and the breweries near you!
            </p>
            <a href="dashboard.html">
                <button type="button center" class="btn btn-primary"> Click here! </button>
            </a>
        </div>
        <a href="#breweries" class="button style2 down anchored">Next</a>
    </section>

    <section id="breweries" class="main style3 primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../static/img/Life-is-Better-with-Beer.jpg" style="width: 100%;">
                </div>
                <div class="col-lg-5">
                    <h2 style="padding-top: 20%;">Find a Brewery near you!</h2>
                    <p>Looking for a fun beer night or taste some new craft beers? Search to find all the breweries around you or any city around the world!</p>
                    <p><a href="breweries.html" class="btn btn-primary">Search</a></p>
                </div>
            </div>
            <a href="#team" class="button style2 down">Next</a>
        </div>
    </section>

    <!-- ==== TEAM MEMBERS ==== -->
    <section class="main style3 primary">
            <div class="container-fluid align-items-center" id="team" name="team">
                <div class="content">
                <img src="../static/img/logo2.png" style="width: 20%;" class="center align-items-center">
                </div>
                <h2 id="team" class="align-items-center centered">Meet Our Awesome & Brewtiful Team</h2>
                <hr>

                <div class="row white align-items-center main style3 primary">
                    <figure class="figure profile">
                        <img class="circle" src="../static/img/BarryHaygood.jpg" alt="Avatar" height="200" width="200">
                        <br>
                        <h4><b>Barry Haygood</b></h4>
                        <a href="https://www.linkedin.com/in/barry-haygood-7427993a/" class="fa fa-lg fa-linkedin"></a>
                        <a href="https://github.com/tamu94" class="fa fa-lg fa-github"></a>
                        <figcaption class="figure-caption text-left">🍺 Austin Beerworks Flavor Country</figcaption>
                        <figcaption class="figure-caption text-left">🍺 Thirsty Goat</figcaption>
                        <figcaption class="figure-caption text-left">🍺 Ayinger Celebrator</figcaption>                      
                    </figure>
                    

                    <figure class="figure profile">
                        <img class="circle" src="../static/img/CathyEgboh.jpg" alt="Avatar" height="200" width="200">
                        <br>
                        <h4><b>Cathy Egboh</b></h4>
                        <a href="https://www.linkedin.com/in/catherine-egboh-36400b104/" class="fa fa-lg fa-linkedin"></a>
                        <a href="#https://github.com/CatEggs" class="fa fa-lg fa-github"></a>
                        <figcaption class="figure-caption text-left">🍺 Revolver Blood and Honey</figcaption>
                        <figcaption class="figure-caption text-left">🍺 Austin Amber</figcaption>
                    </figure>
                    

                    <figure class="figure profile">
                        <img class="circle" src="../static/img/team/MayaSaeidi.jpg" alt="Avatar" height="200" width="200">
                        <br>
                        <h4><b>Maya Saeidi</b></h4>
                        <a href="https://www.linkedin.com/in/maya-saeidi/" class="fa fa-lg fa-linkedin"></a>
                        <a href="https://github.com/S-Maya" class="fa fa-lg fa-github"></a>
                        <figcaption class="figure-caption text-left"><h>🍺 Corona Extra</h></figcaption>
                        <figcaption class="figure-caption text-left"><h>🍺 Heineken</h></figcaption>
                        <figcaption class="figure-caption text-left"><h>🍺 Guinness</h></figcaption>
                    </figure>
                    

                    <figure class="figure profile">
                        <img class="circle" src="../static/img/MichelleBrucato.jpg" alt="Avatar" height="200" width="200">
                        <br>
                        <h4><b>Michelle Brucato</b></h4>
                        <a href="https://www.linkedin.com/in/michelle-brucato/" class="fa fa-lg fa-linkedin"></a>
                        <a href="https://github.com/michellebrucato" class="fa fa-lg fa-github"></a>
                        <figcaption class="figure-caption text-left"><h>🍺 Victory Sour Monkey</h></figcaption>
                        <figcaption class="figure-caption text-left"><h>🍺 Pinthouse Electric Jellyfish</h></figcaption>
                    </figure>
                    

                    <figure class="figure profile">
                        <img class="circle" src="../static/img/SaharMohammadi.jpg" alt="Avatar" height="200" width="200">
                        <br>
                        <h4><b>Sahar Mohammadi</b></h4>
                        <a href="https://www.linkedin.com/in/sahar-mohammadi-1425691a3/" class="fa fa-lg fa-linkedin"></a>
                        <a href="https://github.com/sahar3267" class="fa fa-lg fa-github"></a>
                        <figcaption class="figure-caption text-left"><h>🍺 Pilsner</h></figcaption>
                        <figcaption class="figure-caption text-left"><h>🍺 American Amber</h></figcaption>
                        <figcaption class="figure-caption text-left"><h>🍺 Heineken</h></figcaption>
                    </figure>
                    

                    <figure class="figure profile">
                        <img class="circle" src="../static/img/SheetalBongale.jpg" alt="Avatar" height="200" width="200">
                        <br>
                        <h4><b>Sheetal Bongale</b></h4>
                        <a href="https://www.linkedin.com/in/sheetal-bongale/" class="fa fa-lg fa-linkedin"></a>
                        <a href="https://github.com/sheetalbongale" class="fa fa-lg fa-github"></a>
                        <figcaption class="figure-caption text-left"><h>🍺 Karbach Hopadillo IPA</h></figcaption>
                        <figcaption class="figure-caption text-left"><h>🍺 Fat Tire Amber Ale</h></figcaption>
                        <figcaption class="figure-caption text-left"><h>🍺 Deschutes Fresh Squeezed IPA</h></figcaption>
                    </figure>
                </div>
                <!-- col-lg col-md-6 -->
            </div>
        </div>
    </section>

    <h2 class="align-items-center centered">What's your favorite beer or beerstyle?🍺 Tell us!</h2>
    <!-- begin wwww.htmlcommentbox.com -->
    <div id="HCB_comment_box" style="padding-left: 10%; padding-right: 10%;"><a href="http://www.htmlcommentbox.com"></a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24Sc12FQHJQLeK6s0uFv2wa%2F"+"&opts=16862&num=10&ts=1586137988264");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
    <!-- end www.htmlcommentbox.com -->
    

    <!-- Footer - Copy paste for every page -->
    <footer id="footer">
        <!-- GitHub -->
        <ul class="icons">
            <li>
                <a href="https://github.com/sheetalbongale/ALE-gorithm" class="fa fa-lg fa-github"></a>
            </li>
            <li><a href="https://github.com/sheetalbongale/ALE-gorithm">GitHub</li></a>
        </ul>
        <ul class="menu">
            <li>&copy; Ale-gorithm 2020</li>
            <li>Group 3</li>
            <li>UT Data Analysis and Visualization Bootcamp</a>
            </li>
        </ul>
    </footer>

    <!-- Scripts -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom scripts for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Local Stripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.poptrox.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>