<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ale-gorithm Project</title>

    <!-- Favicons -->
    <link href="../static/img/favicon1.png" rel="icon">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css">
    <!-- Main Stylesheet File -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <!-- Font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- No Script CSS  -->
    <noscript>
    <link rel="stylesheet" href="../static/css/noscript.css" />
    </noscript>
    <!-- Anychart -->
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33" type="text/css" rel="stylesheet">

    <!-- Jinja2 format to refer to css file
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  -->
</head>

<body class="is-preload">

    <!-- Nav-Bar Header - Copy paste for every page-->
    <header id="header">
        <h1><a href="index.html"><img src="../static/img/logo.png" style="width: 15%;"></h1>
        <nav>
            <ul>
                <li><a href="recommender.html"><i class="fa fa-beer" aria-hidden="true"></i> Beer Recommender &nbsp;</a></li>
                <li><a href="dashboard.html"><i class="fa fa-th"></i> Beer Dashboard &nbsp;</a></li>
                <li><a href="breweries.html"><i class="fa fa-search" aria-hidden="true"></i> Find Breweries &nbsp;</a></li>
                <li><a href="index.html#team"><i class="fa fa-user"></i> About Us &nbsp;</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner - Main Selection Page-->
    <section id="recommenderpage" class="main style3 primary">
        <div class="content">
            <div class="container-fluid">
                <header>
                    <br>
                    <h2 class="align-items-center centered">Welcome to Ale-gorithm <br> The Beer Recommender</h2>
                    <hr>
                    <p>Get Your Drink On</p>
                    <br>

                    <ul class="actions special">
                        <li>
                            <select class="custom-select button secondary" id="selDatasetOne" onchange="optionChangedOne(this.value)">
                                {% for category in categories %}
                                <option selected class="custom-option">{{category}}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            <select class="custom-select button secondary" id="selDatasetTwo" onchange="optionChangedTwo(this.value)">
                                <option selected class="custom-option">Select Beer Style</option>
                            </select>
                        </li>
                    </ul>
                </header>
                <footer>
                    <br>
                    <a href="#beerrecommendation" class="button down align-items-center">More</a>
                </footer>
            </div>
        </div>
    </section>

    <section id="beerrecommendation">
        <br>
        <h2 class="title text-center">Good Choice! Learn more about this Beer Style</h2>

        <!-- Description about the selected Beer Style -->
        <div class="container-fluid" style="padding: 30px;">
            <div class="row">
                <div class="card-deck">
                    <div class="col-lg-9 col-md" id="description">
                        <div id="description" class="card bg-default mb-3" style="max-width: 20rem;">
                            <div class="card-body text-center">
                                <h4 class="card-title"></h4>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md" id="beerimage">
                        <img src="..." class="card-img-top beerimage zoom" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gauge Charts -->
    <div class="container-fluid">
        <div class="row img-fluid align-items-center" alt="responsive image" style="padding-right: 50px; padding-left: -30px;">

            <div class="col-lg-4 col-md align-items-center">
                <div id="gauge_srm"></div>
            </div>

            <div class="col-lg-4 col-md align-items-center">
                <div id="gauge_abv"></div>
            </div>

            <div class="col-lg-4 col-md align-items-center">
                <div id="gauge_ibu"></div>
            </div>

        </div>
    </div>

    <!-- Top 5 Beer Recommendations - Card deck -->
    <h2 class="title text-center">Our Beer Recommendations based on your selection. Cheers!</h2>
    <br>
    <div class="container-fluid" style="padding-left: 30px; padding-right: 30px;">
        <div class="row">
            <div class="card-deck text-black" id="top5">
                <div class="col-lg col-md-6" id="top5">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text abv"></p>
                    </div>
                </div>
                <div class="col-lg col-md-6" id="top5">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text abv"></p>
                    </div>
                </div>
                <div class="col-lg col-md-6" id="top5">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text abv"></p>
                    </div>
                </div>
                <div class="col-lg col-md-6" id="top5">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text abv"></p>
                    </div>
                </div>
                <div class="col-lg col-md-6" id="top5">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>
                        <p class="card-text abv"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br>

   <!-- Beer Style Scroll Box -->
   <div class="horizontal-scroll-wrapper squares">
    <style>
        div.scrollmenu {
            background-color: rgb(255, 255, 255);
            overflow: auto;
            white-space: nowrap;
        }
        
        div.scrollmenu a {
            display: inline-block;
            color: rgb(0, 0, 0);
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
    </style>
    <div class="scrollmenu">
        <a><b>Bock</b></a>
        <img src="../static/img/wordcloud/bock.svg" width="350px" height="300px">
        <a><b>Brown Ale</b></a>
        <img src="../static/img/wordcloud/brown_ale.svg" width="350px" height="300px">
        <a><b>Dark Ale</b></a>
        <img src="../static/img/wordcloud/dark_ale.svg" width="350px" height="300px">
        <a><b>Dark Lager</b></a>
        <img src="../static/img/wordcloud/dark_lager.svg" width="350px" height="300px">
        <a><b>Hybrid Beer</b></a>
        <img src="../static/img/wordcloud/hybrid_beer.svg" width="350px" height="300px">
        <a><b>IPA</b></a>
        <img src="../static/img/wordcloud/ipa.svg" width="350px" height="300px">
        <a><b>Pale Ale</b></a>
        <img src="../static/img/wordcloud/pale_ale.svg" width="350px" height="300px">
        <a><b>Pilsener & Pale Lager</b></a>
        <img src="../static/img/wordcloud/pilsner_pale_ale.svg" width="350px" height="300px">
        <a><b>Porter</b></a>
        <img src="../static/img/wordcloud/porter.svg" width="350px" height="300px">
        <a><b>Specialty</b></a>
        <img src="../static/img/wordcloud/specialty_beer.svg" width="350px" height="300px">
        <a><b>Stout</b></a>
        <img src="../static/img/wordcloud/stout.svg" width="350px" height="300px">
        <a><b>Strong Ale</b></a>
        <img src="../static/img/wordcloud/strong_ale.svg" width="350px" height="300px">
        <a><b>Wheat</b></a>
        <img src="../static/img/wordcloud/wheat_beer.svg" width="350px" height="300px">
        <a><b>Wild & Sour</b></a>
        <img src="../static/img/wordcloud/wild_sour_beer.svg" width="350px" height="300px">
    </div>
</div>


    <!-- Footer -->
    <footer id="footer">
        <!-- GitHub -->
        <ul class="icons">
            <li>
                <a href="https://github.com/sheetalbongale/ALE-gorithm" class="fa fa-lg fa-github"></a>
            </li>
            <li>Git-Hub Repository</li>
        </ul>
        <ul class="menu">
            <li>&copy; Ale-gorithm 2020</li>
            <li>Group 3</li>
            <li>UT Data Analysis and Visualization Bootcamp</a>
            </li>
        </ul>

    </footer>

    <!-- Scripts -->
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Custom scripts for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Anychart -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <!-- Local Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.poptrox.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/jquery.scrollex.min.js"></script>
    <script src="../static/js/browser.min.js"></script>
    <script src="../static/js/breakpoints.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/buildRecommender.js"></script>
    <script src="../static/js/buildCloud.js"></script>

</body>

</html>